.container {
  height: 100vh;
  position: relative;
  width: 100%;
}

.intro,
.title {
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 200;
}

.intro p {
  color: rgb(75, 213, 238);
  font-size: 1.25rem;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 18rem;
}
